/* Attractions.css */
* {
  background-color: rgb(245, 245, 236);

}
.form-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.input-style {
  flex: 1 1 auto;
  height: 40px;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button-style {
  padding: 10px 20px;
  font-size: 18px;
  background-color:  #073b01; /* Dark background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
